<h2>Employee Table</h2>
<button><a href="/addEmployee">Add Employee</a></button>
<table>
    <thead>
        <tr>
            <th>Employee ID</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Department</th>
            <th>Status</th>
        </tr>
    </thead>
    <tbody>
    {{#each employees}}
        <tr>
            <td>{{this.employeeId}}</td>
            <td>{{this.firstName}}</td>
            <td>{{this.lastName}}</td>
            <td>{{this.department}}</td>
            <td>{{this.status}}</td>
        </tr>
    {{/each}}
    </tbody>
</table>