<h1>Your paystubs</h1>

<form action="/paystub" method="get">
    <label class="label" for="search">Search for a paystub:</label>
    <div class="field has-addons is-large">
        <span class="control is-expanded">
            <input type="search" class="input" placeholder="Search..." name="search" autocomplete="off" />
        </span>
        <span class="control">
            <button class="button is-primary" type="submit">Search</button>
        </span>
    </div>
    <p class="help">This is a help text</p>
</form>

{{!-- credits: https://www.kryogenix.org/code/browser/sorttable/ --}}
<script async src="/javascript/sorttable.js"></script>
<table class="table is-fullwidth is-striped sortable">
    <thead>
        <tr>
            <th>id</th>
            <th>start date</th>
            <th>end date</th>
            <th>net amount</th>
            <th>net deductions</th>
            <th>actions</th>
        </tr>
    </thead>
    <tbody>
        {{#each paystubs}}
            <tr>
                <td>
                    <a href="/paystub/{{id}}">{{id}}</a>
                </td>
                <td>{{startDate}}</td>
                <td>{{endDate}}</td>
                <td>{{netAmount}}</td>
                <td>{{netDeductions}}</td>
                <td>
                    <a href="/paystub/{{id}}">View</a>
                    <a href="/paystub/{{id}}/download">Download</a>
                </td>
            </tr>
        {{/each}}
    </tbody>
</table>