<h2>Shifts</h2>
<p>View your upcoming and past shifts.</p>

{{#if shifts}}
<ul>
    {{#each shifts as |shift|}}
        <li>{{shift}}</li>
    {{/each}}
</ul>
{{else}}
    <p>No shifts.</p>
{{/if}}

<h3>Past Shifts</h3>
{{#unless pastShifts}}
    <p>No past shifts.</p>
{{else}}
    <ul>
        {{#each pastShifts}}
            <li>{{this}}</li>
        {{/each}}
    </ul>
{{/unless}}

<h3>Upcoming Shifts</h3>
{{#unless upcomingShifts}}
    <p>No upcoming shifts.</p>
{{else}}
    <script src="https://cdn.jsdelivr.net/npm/fullcalendar@6.1.9/index.global.min.js"></script>
    <details>
        <summary>View upcoming shifts</summary>
        <div id="calendar"></div>
    </details>
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            var calendarEl = document.getElementById('calendar');
            var calendar = new FullCalendar.Calendar(calendarEl, {{{ json calendarOptions }}});
        calendar.render();
    });
    </script>
{{/unless}}