<h2>Add Employee Form</h2>
<script>
    const Handlebars = require('handlebars');

    Handlebars.registerHelper('eq', function (value1, value2) {
        return value1 === value2;
    });

</script>
<form action="/addEmployee" method="post">
    <label for="firstName">First Name:</label><br>
    <input class="input" type="text" id="firstName" name="firstName" autocomplete="given-name" value="{{employee.firstName}}"><br>

    <label for="lastName">Last Name:</label><br>
    <input class="input" type="text" id="lastName" name="lastName" autocomplete="family-name" value="{{employee.lastName}}"><br>

    <label for="email">Email:</label><br>
    <input class="input" type="email" id="email" name="email" autocomplete="email" value="{{employee.email}}"><br>

    <label for="password">Password:</label><br>
    <input class="input" type="password" id="password" name="password" autocomplete="new-password" value="{{employee.password}}"><br>

    <label for="employeeID">Employee ID:</label><br>
    <input class="input" type="text" id="employeeID" name="employeeID" value="{{employee.employeeID}}"><br>

    <label for="status">Status:</label><br>

    <div class="select is-fullwidth">
        <select id="status" name="status">
            <option value="Active" {{#if (eq employee.status "Active")}}selected{{/if}}>Active</option>
            <option value="Inactive" {{#if (eq employee.status "Inactive")}}selected{{/if}}>Inactive</option>
            <option value="Suspended" {{#if (eq employee.status "Suspended")}}selected{{/if}}>Suspended</option>

        </select>
    </div><br>

    <label for="department">Department:</label><br>

    <div class="select is-fullwidth">
        <select id="department" name="department">
            {{!-- <option value="Administration">Administration</option>
            <option value="Customer Service">Customer Service</option>
            <option value="Engineering">Engineering</option>
            <option value="Finance">Finance</option> --}}
            <option value="Human Resources"{{#if (eq employee.department "Human Resources")}}selected{{/if}} >Human Resources</option>
            {{!-- <option value="Information Technology">Information Technology</option>
            <option value="Legal">Legal</option>
            <option value="Marketing">Marketing</option>
            <option value="Production">Production</option>
            <option value="Quality Assurance">Quality Assurance</option>
            <option value="Research and Development">Research and Development</option>
            <option value="Sales">Sales</option>
            <option value="Shipping">Shipping</option> --}}
            <option value="IT Department" {{#if (eq employee.department "IT Department")}}selected{{/if}}>IT Department</option>
            <option value="Accounting" {{#if (eq employee.department "Accounting")}}selected{{/if}}>Accounting</option>
        </select>
        </div>
        <br>

        <label for="manager">Manager:</label><br>
        <input class="input" type="text" id="manager" name="manager" value="{{employee.manager}}"><br>

        <label for="permissions">Permissions:</label><br>
        <input class="input" type="text" id="permissions" name="permissions" value="{{employee.permissions}}"><br>

        <label for="shifts">Shifts: </label><br>
        <input class="input" type="text" id="shifts" name="shifts" value="{{employee.shifts}}">
        <br>
        <br>

        <input class="button is-primary" type="submit" value="Submit">
</form>