<h2>Update Employee Form</h2>

<form action="/updateEmployee" method="post">
    <label for="firstName">First Name:</label><br>
    <input class="input" type="text" id="firstName" name="firstName" autocomplete="given-name"
           value="{{employee.firstName}}"><br>

    <label for="lastName">Last Name:</label><br>
    <input class="input" type="text" id="lastName" name="lastName" autocomplete="family-name"
           value="{{employee.lastName}}"><br>

    <label for="email">Email:</label><br>
    <input class="input" type="email" id="email" name="email" autocomplete="email" value="{{employee.email}}"><br>

    <label for="password">Password:</label><br>
    <input class="input" type="password" id="password" name="password" autocomplete="new-password"
           value="{{employee.password}}"><br>

    <label for="employeeID">Employee ID:</label><br>
    <input class="input" readonly type="text" id="employeeID" name="employeeID" value="{{employee.employeeID}}"><br>

    <label for="status">Status:</label><br>

    <div class="select is-fullwidth">
        <select id="status" name="status">
            <option value="Active" {{#if (eq employee.status "Active")}}selected{{/if}}>Active</option>
            <option value="Inactive" {{#if (eq employee.status "Inactive")}}selected{{/if}}>Inactive</option>
            <option value="Suspended" {{#if (eq employee.status "Suspended")}}selected{{/if}}>Suspended</option>
        </select>
    </div>
    <br>

    <label for="department">Department:</label><br>

    <div class="select is-fullwidth">
        <select id="department" name="department">
            <option value="Human Resources" {{#if (eq employee.department "Human Resources")}}selected{{/if}}>Human
                Resources
            </option>
            <option value="IT Department" {{#if (eq employee.department "IT Department")}}selected{{/if}}>IT
                Department
            </option>
            <option value="Accounting" {{#if (eq employee.department "Accounting")}}selected{{/if}}>Accounting</option>
        </select>
    </div>
    <br>

    <label for="manager">Manager:</label><br>
    <input class="input" type="text" id="manager" name="manager" value="{{employee.manager}}"><br>

    <label for="permissions">Permissions:</label><br>
    <span class="select is-fullwidth">
        <select id="permissions" name="permissions">
            <option value="Yes" {{#if  (eq employee.permissions "Yes")}}selected{{/if}}>Yes</option>
            <option value="No" {{#if  (eq employee.permissions "No")}}selected{{/if}}>No</option>
        </select>
    </span>
    <br>
    <br>

    <input class="button is-primary" type="submit" value="Submit">
    <hr>
    <div class="buttons">
        <a class="button is-success" href="/shifts/view/{{employee.employeeID}}">View Shifts</a>
        <a class="button is-warning" href="/shifts/edit?employeeID={{employee.employeeID}}">Edit Shifts</a>
        <a class="button is-info" href="/shifts/create?employeeID={{employee.employeeID}}">Add Shift</a>
    </div>
</form>