<h1>Your paystubs</h1>

<form action="/paystub" method="get">
    <label class="label" for="search">Search for a paystub:</label>
    <div class="field has-addons is-large">
        <span class="control is-expanded">
            <input type="search" class="input" disabled placeholder="Search..." name="search" autocomplete="off" />
        </span>
        <span class="control">
            <button class="button is-primary" disabled type="submit">Search</button>
        </span>
    </div>
</form>

<p><small>Pay period shows the first and last working day accounted to the paystub, for a max of 14 consecutive days (2 weeks) that can be contributed to one paystub</small></p>

{{!-- credits: https://www.kryogenix.org/code/browser/sorttable/ --}}
<script async src="/javascript/sorttable.js"></script>
<table class="table is-fullwidth is-striped sortable">
    <thead>
        <tr>
            <th>start date</th>
            <th>end date</th>
            <th>net profit</th>
            <th>net deductions</th>
            <th>actions</th>
        </tr>
    </thead>
    <tbody>
        {{#each paystubs}}
            <tr>
                <td>{{date startDate}} @ {{time startDate}}</td>
                <td>{{date endDate}} @ {{time endDate}}</td>
                <td>{{toCurrency netProfit}}</td>
                <td>{{toCurrency totalDeducted}}</td>
                <td>
                    <a class="button is-primary" href="/paystub/{{@index}}">View</a>
                    <a class="button is-success" href="/paystub/{{@index}}/download">Download</a>
                </td>
            </tr>
        {{/each}}
    </tbody>
</table>