<style media="print">
	/* from https://www.sitepoint.com/css-printer-friendly-pages */
	.no-print,
	.no-print * {
		display: none !important;
	}
	article{
		padding: 3rem;
	}
</style>

<button class="button no-print is-primary" onclick="window.print()">Print</button>
<a href="/paystub/{{index}}/download" class="button no-print is-link">download</a>

<article class="container content m-auto">
	<section class="columns">
		{{!-- http://microformats.org/wiki/h-card --}}
		{{!-- <div class="h-card column">
		<p class="p-name"><em>Your Company Name</em></p>
		<div class="h-adr">
			<p class="p-street-address">123 Address Rd.</p>
			<span class="p-locality">City</span>, <span class="p-region">ON</span>
			<p class="p-postal-code">N0L 1R0</p>
		</div>
		<p class="p-tel">555-555-5555</p>
	</div> --}}
		<div class="h-card column">
			<p>ID: {{employee.employeeID}}</p>
			<p class="p-name"><strong>{{employee.firstName}} {{employee.lastName}}</strong></p>
			{{!-- <div class="h-adr">
			<p class="p-street-address">123 Address Rd.</p>
			<span class="p-locality">City</span>, <span class="p-region">ON</span>
			<p class="p-postal-code">N0L 1R0</p>
		</div> --}}
		</div>
	</section>

	<hr>

	<section class="columns">
		<p class="column">Pay Period:
			<br>
			<time datetime="{{date paystub.startDate}} {{time paystub.startDate}}">{{date paystub.startDate}}</time>
			-
			<time datetime="{{date paystub.endDate}} {{time paystub.endDate}}">{{date paystub.endDate}}</time>
		</p>
	</section>

	{{#with paystub}}
		<table class="table is-striped is-fullwidth">
			<thead>
				<tr>
					<th>Income</th>
					<th>This Period</th>
					<th>Year to Date</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>
						<p>Regular Salary</p>
					</td>
					<td><data value="{{grossProfit}}">{{toCurrency grossProfit}}</data></td>
					<td><data value="{{yearToDateGrossProfit}}">{{toCurrency yearToDateGrossProfit}}</data></td>
				</tr>

				<tr>
					<td>Vacation</td>
					<td><data value="0">0.00</data></td>
					<td><data value="0">0.00</data></td>
				</tr>
				<tr>
					<td>Bonus</td>
					<td><data value="0">0.00</data></td>
					<td><data value="0">0.00</data></td>
				</tr>
				<tr>
					<td><strong>Gross Income</strong></td>
					<td><data value="{{grossProfit}}">{{toCurrency grossProfit}}</data></td>
					<td><data value="{{yearToDateGrossProfit}}">{{toCurrency yearToDateGrossProfit}}</data></td>
				</tr>
			</tbody>
		</table>

		<table class="table is-striped">
			<thead>
				<tr>
					<th>Deductions</th>
					<th>Type</th>
					<th>Rate</th>
					<th>Current Total</th>
				</tr>
			</thead>
			<tbody>
				{{#each deductions as |deduction|}}
					<tr>
						<td>{{name}}</td>
						<td>{{type}}</td>
						<td>{{value}}</td>
						<td>
							<data
								value="{{getDeduction deduction ../grossProfit}}">{{toCurrency (getDeduction deduction ../grossProfit)}}</data>
						</td>
					</tr>
				{{/each}}
				<tr>
					<td><strong>Total Deductions</strong></td>
					<td></td>
					<td></td>
					<td><data value="{{totalDeducted}}">{{toCurrency totalDeducted}}</data></td>
				</tr>
			</tbody>
		</table>

		<table class="table is-striped">
			<thead>
				<tr>
					<th>Total</th>
					<th>Current</th>
					<th>Year to Date</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>Income</td>
					<td><data value="{{grossProfit}}">{{toCurrency grossProfit}}</data></td>
					<td><data value="{{yearToDateGrossProfit}}">{{toCurrency yearToDateGrossProfit}}</data></td>
				</tr>
				<tr>
					<td>Deductions</td>
					<td><data value="{{totalDeducted}}">{{toCurrency totalDeducted}}</data></td>
					<td><data value="{{yearToDateDeducted}}">{{toCurrency yearToDateDeducted}}</data></td>
				</tr>
				<tr>
					<td><strong>Net Income</strong></td>
					<td><data value="{{netProfit}}">{{toCurrency netProfit}}</data></td>
					<td><data value="{{yearToDateNetProfit}}">{{toCurrency yearToDateNetProfit}}</data></td>
				</tr>
			</tbody>
		</table>
	{{/with}}
</article>

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css" />