<h2>Manage <em>{{employee.firstName}} {{employee.lastName}}</em> shifts</h2>

<script async src="/javascript/sorttable.js"></script>
<table class="table table-bordered table-condensed table-striped sortable">
    <thead>
        <tr>
            <th>Scheduled start</th>
            <th>Start</th>
            <th>Scheduled end</th>
            <th>End</th>
            <th>Status</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        {{#each shifts as |shift|}}
            <tr>
                <td>{{date shift.scheduledStart}} - {{time shift.scheduledStart}}</td>
                <td>{{date shift.startDate}} - {{time shift.startDate}}</td>
                <td>{{date shift.scheduledEnd}} - {{time shift.scheduledEnd}}</td>
                <td>{{date shift.endDate}} - {{time shift.endDate}}</td>
                <td>{{shift.status}}</td>
                <td>
                    <a class="button is-warning" href="/shift/edit/{{@index}}?employeeID={{../employee.employeeID}}">Edit</a>
                    <a class="button is-danger" href="/shift/delete/{{@index}}?employeeID={{../employee.employeeID}}">Delete</a>
                </td>
            </tr>
        {{/each}}
    </tbody>
</table>